body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #ededf1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar {
scroll-behavior: smooth;
display: none;
}

@keyframes blink {
0%,
100% {
  opacity: 1;
}

50% {
  opacity: 0;
}
}
@tailwind base;
@tailwind components;
@tailwind utilities;